a:hover {
  color: #ff0000;
}
.carousel {
  height: 50%;
  width: 60%;
  margin: 0 auto;
}
.aboutus {
  padding-left: 150px;
}

.card-img-top {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
